<?php echo $this->doctype(); ?>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <!--Styles-->
        <?php
        echo $this->headLink()
                ->prependStylesheet($this->basePath() . '/css/style/css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap-them.min.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css');
        ?>
    </head>
    <body>
        <?php 
        echo $this->navigation()
                ->menu()
                ->renderMenu('DefaultNavigationFactory',array('ulClass' => 'nav nav-pills'));
        ?>
        <?php echo $this->content; ?>
    </body>
</html>
